<section class="contact section" id="contact">
    <div class="column">
        <h1>About me</h1>
        <p>
            I'm a twenty-one-year-old full stack web developer based in Buenos Aires, currently studying Global Business Management. I am able to incorporate business knowledge proficiently in the software context.
            <br/><br/>
            Due to my previous working experience I am comfortable working with fintech or blockchain-related projects, e-commerce platforms, communities with high traffic volume and user created content, landing pages or marketing-based websites to engage with customers, crowdfunding platforms, social networks, and anything you may have in mind.
            <br/><br/>
            <strong>
                TL-DR: full stack web developer, global business student, worked in many areas and projects related to web development. Ready for your inquires.
            </strong>
        </p>
    </div>
    <div class="column">
        <div class="icons">
            <a href="mailto:hello@mauriciov.com" target="_blank">
                <img src="/assets/images/icons/mail.svg" alt="Mail Me">
            </a>
            <a href="https://github.com/mauriciovillam" target="_blank">
                <img src="/assets/images/icons/github.svg" alt="My GitHub">
            </a>
            <a href="https://www.linkedin.com/in/mauricio-villalobos-716727167/" target="_blank">
                <img src="/assets/images/icons/linkedin.svg" alt="My LinkedIn">
            </a>
        </div>

        <div class="partners">
            <a href="https://ignitionwolf.com" target="_blank">
                <img src="/assets/images/icons/ignition-wolf.svg" alt="Ignition Wolf Logo">
            </a>
        </div>
    </div>
</section>