.contact.section {
    background-color: #2f0006;
    display:flex;

    @media (max-width:768px) {
        flex-direction: column-reverse;
    }

    .column {
        width:50%;
        max-width: 50%;

        @media (min-width:768.1px) {
            padding:80px;

            &:first-child {
                padding-left:140px;
            }

            &:last-child {
                padding-right:140px;
            }
        }

        @media (max-width:768px) {
            width:100%;
            max-width:calc(100% - 40px);
            padding:20px;
        }
    }

    h1 {
        font-family: 'Merriweather', sans-serif;
        font-size:110px;
        text-shadow: 3px 2px 0 black;
        color: #d74e1d;

        @media (max-width: 768px) {
            font-size:48px;
        }
    }

    p {
        margin-top:2rem;
        font-family: 'Lato', sans-serif;
        color:rgb(221, 221, 221);
        font-size:24px;
        max-width:600px;
        line-height:32px;

        strong {
            font-size:28px;
            font-weight: 500;
        }
    }

    .icons {
        margin-top: 2rem;
        display:flex;
        align-items: center;
        justify-content: center;

        img {
            margin-left:40px;
            width:96px;
            height:auto;
            color:#c0c0c0;

            @media (max-width:768px) {
                margin-left:10px;
            }
        }
    }

    .partners {
        text-align: center;
        
        @media (min-width:768.1px) {
            margin-top:5rem;
        }

        img {
            width:80%;


            @media (min-width:576.1px) and (max-width:768px) {
                width: 50%;
            }
        }
    }

    .attributions {
        position: absolute;
        bottom:0;
        left:0;
        width:100%;
        text-align: center;
        color: white;
        font-size:10px;
        font-family: 'Lato', sans-serif;
        padding:5px;
        opacity:.7;

        a {
            text-decoration: none;
            color:white;
        }
    }
}